.App {
display: flex;
flex-direction: column;
text-align: center;
/* margin: 5px; */
height:100vh;
padding: 3px;
} 

.MuiFormLabel-root.Mui-focused{
    color:#ff6721!important;
  }
  
.MuiOutlinedInput-root:hover>.MuiOutlinedInput-notchedOutline{
    border-color: #ff6721!important;
   }
  
.MuiOutlinedInput-root.Mui-focused>.MuiOutlinedInput-notchedOutline{
    border-color: #ff6721!important;
   }

.MuiButton-root.MuiButton-outlined:focus {
    border-color: #ff6721!important;
}   
.MuiButton-root.MuiButton-outlined:after {
    border-color: #ff6721!important;
}
.MuiButton-root.MuiButton-outlined:active {
    border-color: #ff6721!important;
}