@viewport {
    width: 320px, 120px;
}

/* .CategoryBar{
    display: flex;
} */

.MuiTab-textColorPrimary {
    color: rgba(0, 0, 0, 0.54);
    outline-color: transparent!important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #ffad21 !important;
    outline-color:transparent!important;
}
/*test*/
.MuiTabs-indicator {
    background-color: #ffad21 !important;
}
/*sometime not work*/
.PrivateTabIndicator-root-1 {
    background-color: #ffad21 !important;
}