.ChartPage {
    display: flex;
    height: 90vh;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;

}

.ChartArea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height:90%;
    width: 100%;
    top:0;
}

.ChartItem{
    /* width: 45%;
    height: 45%; 
    flex-grow: 0.25; */
    margin:10px;
    width: 80%;
    height: 80%;
}

.ChartPageReturn{
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    padding: 5px 15px !important;
    color: #555555 !important;
    background-color: white!important;
    /* margin-top: 15px; */
    width: 100%;
    align-self: flex-end;
    position: absolute!important;
    bottom: 5px;
}

/* .ChartPageReturn.btn.btn-secondary:after{
    border-color: #ffad21 !important;
  } */

  .ChartPageReturn:focus{
    outline-color:#ff6721!important;
    border-color:#ff6721!important;
  }