.GroupMember{
    display: flex;
    justify-items: stretch;
    align-items: center;
    color:#555555;
    font-weight: 200;
    /* box-shadow: 0px 1px 0px 0px #555555; */
    /* background:radial-gradient(circle, rgba(245,247,250,0.1) 0%, rgba(255,227,203,0.3) 66%, rgba(253,255,237,0.3) 95%, rgba(255,255,255,0.1) 300%); */
}