.GroupCreate > .MuiButton-label{
    color: #555555;
}
.GroupCreate:hover{
    outline-color:transparent;
}


.NewGroupInput>.MuiFormLabel-root.Mui-focused{
    color:#ff6721!important;
}
.NewGroupInput>.MuiInput-underline:after {
    border-bottom: 2px solid #ff6721;
}
.NewGroupInput>.MuiInput-underline:hover {
    border-bottom: 2px solid #ff6721;
}

.CreateGroupReturn > .MuiButton-label{
    color: #555555;
}
.CreateGroupReturn:hover{
    outline-color:transparent;
}
.CreateGroupReturn:focus{
    outline-color:transparent;
}