@media screen and (max-width: 200px) {
.Back-UserID{
padding:0% !important;
}
.Back-GpID{
padding:0% !important;
}
}

.GroupPage {
    display: flex;
    height: 90vh; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#555555;
    font-weight: 200;
}

h1{
    font-weight: 200 !important;
}

h5{
    font-weight: 200 !important;
}

.row.upper{    
    /* position: fixed */
    /* top: 15px; */
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    /* margin-right: -50px;
    margin-left: -50px; */
    justify-content: space-between;
    width: 100%;
    align-self: center;
}

.row.upper a:hover{
    color: transparent !important;
}
.row.middle{    
    display: flex;
    flex-direction: column; 
    width: 100%;
    box-shadow: 0px 25px 16px rgba(245,247,250,0.6);
    background: linear-gradient(0deg, rgba(245,247,250,0.3) 0%, rgba(255,227,203,0.5) 66%, rgba(253,255,237,0.5) 95%, rgba(255,255,255,0.3) 300%);
    margin-bottom: 10px;
}
.GroupName{
    /* padding:0px 25px; */
    color:#555555;
    /* font-weight: 10; */
    /* background-color:#fef5e7; */
}


/* .Back-UserID{
padding:5px 50px !important;
}
.Back-GpID{
padding:5px 50px !important;
} */
/* .Back-UserID:active{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
}
.Back-UserID:after{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
} */
.Back-UserID:focus{
    outline-color:#ff6721!important;
}
/* .Back-GpID:after{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
}
.Back-GpID:active{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
} */
.Back-GpID:focus{
    outline-color:#ff6721!important;
}

.MuiSvgIcon-root.PersonAddIcon.MuiSvgIcon-fontSizeLarge{
font-size: 600%;
}

.MemberSearch{
min-width:30%;
/* align-items: center;
justify-content:center; */
}

.MembersList{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    justify-content: stretch;
    max-height: 65vh;
    overflow-y: scroll;
    width: max-content;
    padding: 0 50px 0 50px !important;
    border-spacing: 25px;
    height: 100%;
}

.GroupCode{
    align-self: flex-end;
    width:100%;
    padding:100px;
    position: absolute!important;
    bottom: 5px;
}
/* .GroupCode:after{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
    background-color: green!important;
}

.GroupCode:active{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
    background-color: red!important;
} */

.GroupCode:focus{
    outline-color: #ff6721!important;
}


.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-right: 100px !important;
}