/* @media screen and (max-width: 600px) {
    body{
      height: 100vh;
      text-align: center;
      /* justify-content: center;
      align-items: center;
      margin: 0;
    } 
  } */


.HomePage{
  /* display: flex;
  flex-direction: column; */
  height: 90vh; 
  /* flex-grow: 0.95; */
  /* height: 75vh;  */
  margin-bottom: 10px;
  } 


  /* .AddItemA{
position: fixed;
    align-self: flex-end;
bottom:15px;
width: 99%;
  }*/

  /* .AddItemA a:hover{
    color: transparent !important;
  } */

.AddItem{
  align-self: flex-end;
    width: 100%;
    /* margin-left: 5px; */
    color:#555555 !important;
    /* flex-grow: 0.1; */
    bottom: 5px;
  }  
  .AddItem :hover{
    outline-color: transparent !important;
  }
/* 
  .AddItem:active{
    outline-color: #ff6721!important;
  } */

  .AddItem:focus{
    outline-color: #ff6721!important;
  }
