.ItemsListItem{    
display: flex;
align-items: center;
text-align: center!important;
justify-content: space-between!important;
height:70px;
font-weight: 200;
color:#555555;
box-shadow: 
/* 0px 2px 4px -1px rgba(0,0,0,0.2),  */
0px 4px 5px 0px rgba(0,0,0,0.14), 
0px 1px 10px 0px rgba(0,0,0,0.12)
;
border-radius: 5px;
margin: 1px !important;
}


.ItemsListItem:nth-child(4n){
  background:linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(253,252,251,0.2) 25%,rgba(226,209,195,0.2) 900%);
}
.ItemsListItem:nth-child(4n+1){
  background:linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(228,239,233,0.2) 25%, rgba(134,143,150,0.2) 900%);
}
.ItemsListItem:nth-child(4n+2){
  background:linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(228,239,233,0.2) 25%, rgba(147,165,207,0.2) 900%);
}
.ItemsListItem:nth-child(4n+3){
  background:linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(244,237,227,0.2) 25%,rgba(128,129,135,0.2) 900%);
}

.item-img{
  width: 35%;
/*   
  @media screen (min-width:10px){
    width:20%;
  } */
}

.imgIcon {
    width: auto;
    height: 40px;
    cursor: pointer;
  }

  .item-product{
  width:80%;
  /* overflow-x: scroll; */
  max-width:40%;
  text-align: start;
  /* -ms-overflow-style: none; */
  /* font-weight: 500 !important; */
}


.item-product::-webkit-scrollbar {
  display: none;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock{
  font-size: small!important;
  font-weight: 200!important;
}

.item-category{
  overflow-x: hidden;
  width:80%;
  max-width:30%;
}

.MuiTypography-root.MuiListItemText-secondary.MuiTypography-body2.MuiTypography-colorTextSecondary.MuiTypography-displayBlock{
  font-size: small!important;
  font-weight: 200!important;
  }

.item-cal{
  display: flex;
  flex-direction: column;
  /* justify-items: stretch;
  text-align: center; */
align-items: center;
width:20%;
font-size: x-small;
}


.item-edit{
  width: 5%;
  margin-right: 20px;
}
.item-edit > button:focus {
  outline: 0px;
}

.item-quantity{
  width:10%;
}

.item-del{
  width:5%;
}
.item-del > button:focus {
  outline: 0px;
}

/* .item-product::-webkit-scrollbar {
  display: none;
} */

