.DeleteItemReturn{
    /* border: 1px solid rgba(0, 0, 0, 0.23) !important; */
    border: transparent!important;
    padding: 5px 15px !important;
    color: #555555 !important;
    background-color: transparent!important;
}
.DeleteItemReturn:hover{
    border: transparent!important;
  }
  /* .DeleteItemReturn:active{
    outline-color:transparent!important;
} */
.DeleteItemReturn:focus{
    outline-color:transparent!important;
}

/* .DeleteItemButton{
    text-transform: none !important;
} */
/* .DeleteItemButton:active{
    outline-color: #ff6721!important;
  } */
.DeleteItemButton:focus{
    outline-color: #ff6721!important;
}

.ItemDeleteItemModal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
}


