.UpdateQtyReturn{
    /* border: 1px solid rgba(0, 0, 0, 0.23) !important; */
    border: transparent!important;
    padding: 5px 15px !important;
    color: #555555 !important;
    background-color: transparent!important;
}

.UpdateQtyReturn:hover{
    border: transparent!important;
  }

/* .UpdateQtyReturn:after{
    border:transparent!important;
    border-color:transparent!important;
    outline-color:transparent!important;
}
.UpdateQtyReturn.btn.btn-secondary:after{
    border:transparent!important;
    border-color:transparent!important;
    outline-color:transparent!important;
} */

.UpdateQtyReturn:focus{
    outline-color: transparent!important;
}