
h3{
        color:#555555 !important;
        font-weight: 200!important;

}
.ItemUpdateQtyForm{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
}

.middle {
        display: flex;
        justify-content: center;
}

.middle > .quantity{
        margin-left: 15px;
}

.ItemUpdateQtyForm_submit{
        margin-top: 20px!important;
}

/* .ItemUpdateQtyForm_submit:active{
        outline-color: #ff6721!important;
      } */

.ItemUpdateQtyForm_submit:focus{
outline-color: #ff6721!important;
}