.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    padding-right: 5px !important;
}

.ItemSearch{
box-shadow: 
0px 0px 0px 0px rgba(0,0,0,0.5), 
0px 5px 6px 0px rgba(0,0,0,0.10), 
0px 1px 5px 0px rgba(0,0,0,0.3)
}

.MuiInput-underline:after{
    border-bottom: 2px solid #ff6721 !important;
}

.clearText-icon{
    cursor: pointer;
}