.ItemsListArea{
    /* height: 100vh; */
    /* height: 85%; */
    display: flex;
    flex-direction: column;
    /* flex-grow: 0.9; */
    /* flex-shrink: 1; */
    height: 90%;
}

.ItemsList {
    max-height: 99%;
    /* height: 90%; */
    overflow-y: scroll;    
}
