.imgModal{
  text-align: center;
}

.imgDetail {
    /* width: auto; */
    /* height: 300px; */
    width: 80%;
    height: auto;
  }

  .ImageReturn{
    /* border: 1px solid rgba(0, 0, 0, 0.23) !important; */
    border: transparent!important;
    padding: 5px 15px !important;
    color: #555555 !important;
    background-color: transparent!important;
  }

  .ImageReturn:hover{
    border: transparent!important;
  }

/*test can't*/
/* .ImageReturn:after{
    border:transparent!important;
    border-color:transparent!important;
    outline-color:transparent!important;
}
.ImageReturn.btn.btn-secondary:after{
  border:transparent!important;
  border-color:transparent!important;
  outline-color:transparent!important;
} */

/*can't*/
.ImageReturn:focus{
  outline-color: transparent!important;
}