.ItemForm {
    display: flex;
    flex-direction: column; 
    height:90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin:auto; */
    /* width:50% */
}
.formBody{
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  height:90%;
  width:50%
}

.ItemForm_product{
  /*width: 93% */
  flex-shrink: 1;
} 

.ItemForm_categoryArea{
  width:100%;
  flex-shrink: 1;
}

.ItemForm_expiry_date{
  width:100%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column; 
}

.ItemForm_noExpiry_checkbox{
align-self: flex-end;
}

 .ItemForm_quantity{
  /*width:85%*/
  flex-shrink: 1;
} 

.imgPreview { 
  width: auto;
  height: 20%;
  flex-shrink: 4;
  margin-bottom: 10px;
}

.ItemForm_upload{
    width: 100%;
    flex-shrink: 1;
  }

.ItemForm_submit{
  width: 100%;
  flex-shrink: 1;
}

/* .ItemForm_submit:active{
  outline-color: #ff6721!important;
} */
.ItemForm_submit:focus{
  outline-color: #ff6721!important;
}

.ItemFormReturn{
  align-self: flex-end;
  width:100% 
}
/* .ItemFormReturn:active{
  outline-color: #ff6721!important;
} */
.ItemFormReturn:focus{
  outline-color: #ff6721!important;
}