.LoginPage {
    display: flex;
    height: 100vh; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.LoginLogo{
    height:100px
}
.SignIn{
    width:100%
}

/*this one can't show background-color*/
/* .SignIn:active{
    outline-color: #ff6721!important;
    background-color:blueviolet; 
} 
*/

.SignIn:focus{
    outline-color: #ff6721!important;
}


.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.SignUp{
    width:100%;
    /* padding:5px 200px 5px 200px; */
    /* margin-top: 15px; */
    margin-bottom: 5px;
}

/* .SignUp:active{
    outline-color: #ff6721!important;
} */

.SignUp:focus{
    outline-color: #ff6721!important;
}
  
/* .SignUpA a:hover {
    color: transparent !important;
} */
