.Navbar {
    width: 100%;
    margin: 0;
    height: 50px;
    background-color: #eeeeee60;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;  
    padding: 7px 20px;
}

.Navbar_link {
    padding-left: 15px;
    text-decoration: none;
    font-size: larger;
    color: rgba(51, 51, 51, 0.521);
}

.Navbar_link>.MuiButton-root {
   min-width: 0px!important;
}

.removebg{
height:20px;
margin-bottom: 5px;
}

.Navbar_link:hover {
    color: #ffad21;
    outline-color: transparent;
    background-color: transparent;
}

.Navbar_link_currentPlace {
    padding-left: 15px;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.521);
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.Navbar_link_currentPlace:hover {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.521);
}

.Navbar_link>.MuiButton-root:hover {
    outline-color: transparent!important;
    background-color: transparent;
}

#group-menu.MuiButtonBase-root.MuiButton-root.MuiButton-text
{
    outline-color: transparent;
    color: rgba(51, 51, 51, 0.521)!important;
    background-color: transparent;
}

#group-menu.MuiButtonBase-root.MuiButton-root.MuiButton-text>.MuiButton-label:hover{ 
    color: #ffad21;
outline-color: transparent;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text>.MuiButton-label:hover{
outline-color: transparent;
text-decoration: none!important;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text:focus{
    outline: none!important;
    outline: 0px;
    outline-color: transparent !important;
}

.Navbar_Avatar{
height: 25px !important;
width:25px !important;
}
.Navbar_Avatar:hover{
    outline-color: transparent!important;
}    

/* .MuiAvatar-colorDefault :hover{
    color: transparent!important;
    outline-color: transparent!important;
} */