.NotifyPage{
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* justify-content: center; */
    align-items: stretch;
}

.NotifyList {
    display: flex;
    justify-content: space-around;
    height:90%
}
.area{
    height:100%;
    overflow-y: scroll;  
    width:80%
}

.expiryItem{
    display: flex;
    justify-content: flex-start;
    /* background-color: #fecbcb23; */
    background:linear-gradient(125deg,rgba(255,154,158,0.2) 10%,rgba(250,208,196,0.2) 65%, rgba(255,255,255,0.5) 100%);
    margin: 2px;
    padding: 10px;
    border-radius: 0px 10px;
    /* box-shadow: 0px 0px 1px#555555; */
}

.shortageItem{
    display: flex;
    justify-content: flex-start;
    /* background-color: #fff1d658;   */
    background:linear-gradient(125deg, rgba(250,171,77,0.2) 10%, rgba(254,206,193,0.2) 65%, rgba(255,255,255,0.5)100%);
    margin: 2px;
    padding: 10px;
    border-radius: 10px 0px;
    /* box-shadow: 0px 0px 1px#555555; */
}

.NotifyPageReturn{
    align-self: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    padding: 5px 15px !important;
    color: #555555 !important;
    background-color: white!important;
    /* margin-top: 15px; */
    width: 100%;
    position: absolute!important;
    bottom: 5px;
}

/*bg not work*/
/* .NotifyPageReturn.btn.btn-secondary:after{
    border:#ff6721!important;
    border-color: #ff6721!important;
    outline-color:#ff6721!important;
  } */

.NotifyPageReturn:focus{
    outline-color:#ff6721!important;
    border-color: #ff6721!important;
}