.RegisterPage {
    display: flex;
    height: 100vh; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.RegisterPage_submit{
    /* margin-top:15px !important; */
    width:100%
}
.RegisterPage_submit:active{
    outline-color: #ff6721!important;
  }
  .RegisterPage_submit:focus{
    outline-color: #ff6721!important;
  }

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.RegisterPageReturn{
    width:100%;
    /* padding:5px 200px 5px 200px; */
    /* margin-top: 15px; */
    /* border: 1px solid rgba(0, 0, 0, 0.23) !important; */
    /* background-color: transparent!important; */
    margin-bottom: 5px;
}
/* .RegisterPageReturn:active{
    outline-color: #ff6721!important;
  } */
  .RegisterPageReturn:focus{
    outline-color: #ff6721!important;
  }